<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
">
    <!-- Configuración IOC -->

    <!-- Para obtner un objeto de diferente tipo solo hay que modificar
        el archivo de configuración XML. Además no tendremos que modificar
        el código de nuestra aplicación
    -->
    <!--
        <bean id="miEmpleado" class="es.pildoras.IoC.DirectorEmpleado">
    -->

    <bean id="miEmpleado" class="es.pildoras.IoC.JefeEmpleado">

    </bean>


    <!-- Configuración DI-->
    <!-- Inyección de dependencia  mediante un CONSTRUCTOR -->
    <bean id="miInforme" class="es.pildoras.DI.Informe">

    </bean>
    <bean id="miEmpleado2" class="es.pildoras.DI.JefeEmpleado">
        <constructor-arg ref="miInforme">

        </constructor-arg>
    </bean>


    <!-- Inyección de dependencia  mediante un SETTER -->
    <bean id="miSecretarioEmpleado" class="es.pildoras.DI.SecretarioEmpleado">
        <property name="informeNuevo" ref="miInforme">

        </property>

    </bean>


</beans>